.task-detail{
    position: absolute;
    top: 60px;    
    left: 100px;
    .menu-task{
        .container{
            .navbar{
                .container{
                    .collapse{
                        .navbar-nav{
                            .nav-item{
                                margin-left: 15px !important;
                                color: #6f7071;
                                font-weight: 400;
                                span{
                                    font-size: 15px;
                                }
                                
                            }
                        }
                    }
                }
            }
        }
    }
    .col{
        .content{
          .nav{
                
          }  
          p{}
          .info-user{
            span{}
          }
          .buyer{
            img{
                
            }
          }
          .img{
            img{}
          }
          .about-gig{
            h5{}
            h6{}
            p{}
            .list-offer{
                h6{

                }
                ul{
                    li{}
                }
            }
            h6{}
            .language{
                .row{
                    .col-3{
                        h6{
                            
                        }
                        p{}
                    }
                }
            }
            .about-seller{

            }
            .faq{
                h4{}
                .row{
                    .col-6{
                        h6{}
                    }
                }
            }
            .rate{
                .row{
                    .col-6{
                        span{}
                    }
                }
                h6{}
                span{}
            }
            .binh-luan{
                span{}
                .date{

                }
                .noi-dung{

                }
                .publish{

                }
                span{}
            }
            .them-binh-luan{
                .input-field{
                    span{}
                }
                .comment-btn{

                }
            }
          }
        }
    }
}