.card{
    .card-img-top{

    }
    .card-body{
        .card-title{
            .row{
                .col-7{
                    .row{
                        .col-3{

                        }
                        .col-9{
                            .people{

                            }
                            .level{
                                color: #B6B8BC;
                            }
                        }
                    }
                }
               
            }
        }
        .description{
            .card-text{

            }
        }
        .rate{
            span{
                color: #FFBB5C;
                .danh-gia{
                    color:#B6B8BC ;
                }
            }
        }
    }
    .row{
        .col-6{
           color: #8e8f91; 
        }
        
    }
}