.user-home {
  background-image: url(../../../assets/img/banner-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}
.user-home .carousel {
  padding-top: 200px;
}
.user-home .carousel h1 {
  color: white;
}
.user-home .carousel .navbar .container-fluid form {
  width: 500px;
  height: 50px;
}
.user-home .carousel .navbar .container-fluid form input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.user-home .carousel .navbar .container-fluid form .search-bar {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.user-home .carousel .job-name span {
  color: white;
  font-weight: 500;
  font-size: 20px;
}
.user-home .carousel .job-name .popular-btn {
  background-color: transparent;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 40px;
  color: white;
  font-weight: 500;
}
.user-home .carousel .job-name .popular-btn:hover {
  background-color: #fff;
  color: #004119;
}
.user-home .brand {
  background-color: #e7e4e4;
}
.user-home .brand .row .col-2 span {
  margin-top: 60px;
  font-size: 20px;
}
.user-home .service {
  position: absolute;
  top: 1000px;
  display: block;
  left: 100px;
}
.user-home .service h3 {
  font-weight: 700;
  font-size: 32px;
  color: #404145 !important;
}
.user-home .service .service-item .col-2 .content-item {
  top: 20px;
  left: 30px;
}
.user-home .service .service-item .col-2 .content-item small {
  font-size: 18px;
  color: white;
}
.user-home .service .service-item .col-2 .content-item h4 {
  font-size: 30px;
  font-weight: 700;
  color: white;
}
.user-home .selling {
  position: absolute;
  top: 1500px;
}
.user-home .selling .row .col-6 h2 ul li h6 {
  color: black;
}
.user-home .category {
  position: absolute;
  top: 2500px;
  left: 200px;
}
.user-home .category .category-list .category-item {
  margin-left: 40px;
}
.user-home .category .category-list .category-item a {
  text-decoration: none;
}
.user-home .category .category-list .category-item a p {
  color: black;
}
.user-home .cite {
  padding: 40px;
  position: absolute;
  top: 2075px;
  left: 200px;
}
.user-home .cite .container .row .col-6 {
  margin-left: 170px;
}
.user-home .cite .container .row .col-6 .text-cite {
  color: #003912;
  font-weight: 900;
  font-size: 25px;
  font-family: Helvetica, Helvetica, Arial, sans-serif;
}

.footer .footer-top .row .col-2 h6 {
  color: #404145;
  font-weight: 700;
  font-size: 20px;
}
.footer .footer-top .row .col-2 ul {
  list-style: none;
  margin-left: -36px;
}
.footer .footer-top .row .col-2 ul li {
  color: #74767e;
  font-size: 20px;
  line-height: 40px;
}
.footer .footer-bottom .row .col-5 .row .col-8 .legal {
  color: #b5b6ba;
}
.footer .footer-bottom .row .col-7 .row .col-6 .row .col-2 svg {
  color: #74767e;
}
.card {
  margin-top: 30px;
  height: 540px;
}
.card .card-body .card-title .row .col-7 .row .col-9 .people {
  color: black;
}
.card .card-body .card-title .row .col-7 .row .col-9 .level {
  color: #B6B8BC;
}
.card .card-body .description .card-text {
  color: black;
}
.card .card-body .rate span {
  color: #FFBB5C;
}
.card .card-body .rate span .danh-gia {
  color: #B6B8BC;
}
.card .row .col-6 {
  color: #8e8f91;
}

.task-list {
  position: absolute;
  top: 60px;
  left: 100px;
}
.task-list .menu-task .container .navbar .container .collapse .navbar-nav .nav-item {
  margin-left: 15px !important;
  color: #6f7071;
  font-weight: 400;
}
.task-list .menu-task .container .navbar .container .collapse .navbar-nav .nav-item span {
  font-size: 15px;
}
.task-list .pagination .page {
  margin-left: 750px;
}

.task-type {
  position: absolute;
  top: 60px;
  left: 100px;
}
.task-type .menu-task .container .navbar .container .collapse .navbar-nav .nav-item {
  margin-left: 15px !important;
  color: #6f7071;
  font-weight: 400;
}
.task-type .menu-task .container .navbar .container .collapse .navbar-nav .nav-item span {
  font-size: 15px;
}
.task-type .banner {
  background-image: url(../../../assets/img/banner.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  border-radius: 6px;
}
.task-type .banner .content {
  text-align: center;
  padding-top: 50px;
  color: white;
}
.task-type .banner .content h3 {
  font-size: 32px;
  font-weight: 700;
}
.task-type .banner .content p {
  font-size: 24px;
}
.task-type .banner .content .btn-search {
  font-size: 16px;
  background-color: transparent;
  color: white;
  width: 200px;
  height: 50px;
}
.task-type .banner .content .btn-search:hover {
  background-color: white;
  color: #0C3B24;
  border: none;
}
.task-type .most-popular h5 {
  font-size: 24px;
  color: #404145;
}
.task-type .most-popular .btn-popular {
  margin-left: 10px;
}
.task-type .most-popular .btn-popular .row {
  height: 50px;
}
.task-type .most-popular .btn-popular .row .col-7 {
  padding-top: 15px;
}
.task-type .most-popular .btn-popular .row .col-7 span {
  font-size: 16px;
  font-weight: 600;
}
.task-type .most-popular .btn-popular .row .col-2 {
  padding-top: 15px;
}
.task-type .services {
  text-align: center;
}
.task-type .services h3 {
  margin-bottom: 20px;
  font-size: 24px;
}
.task-type .services .nav1 .nav-item, .task-type .services .nav2 .nav-item, .task-type .services .nav3 .nav-item {
  margin-left: 20px;
  color: #74767e;
  font-weight: 600;
  border: none;
}
.task-type .services .nav1 .nav-item:hover, .task-type .services .nav2 .nav-item:hover, .task-type .services .nav3 .nav-item:hover {
  border: none;
}

.profile {
  position: absolute;
  top: 60px;
  left: 100px;
}
.profile .menu-task .container .navbar .container .collapse .navbar-nav .nav-item {
  margin-left: 15px !important;
  color: #6f7071;
  font-weight: 400;
}
.profile .menu-task .container .navbar .container .collapse .navbar-nav .nav-item span {
  font-size: 15px;
}

.task-detail {
  position: absolute;
  top: 60px;
  left: 100px;
}
.task-detail .menu-task .container .navbar .container .collapse .navbar-nav .nav-item {
  margin-left: 15px !important;
  color: #6f7071;
  font-weight: 400;
}
.task-detail .menu-task .container .navbar .container .collapse .navbar-nav .nav-item span {
  font-size: 15px;
}
/*# sourceMappingURL=style.css.map */